In [21]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
movies = pd.read_csv('../data/csv/movies.csv')

In [23]:
ratings = pd.read_csv('../data/csv/ratings.csv')

In [24]:
tags = pd.read_csv('../data/csv/tags.csv')

In [25]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [26]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [27]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [28]:
joined = movies.set_index('movieId').join(ratings.set_index('movieId'))
joined = joined[~joined['userId'].isna()] 
joined

,title,genres,userId,rating,timestamp
movieId,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
...,...,...,...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
193585,Flint (2017),Drama,184.0,3.5,1.537110e+09
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09
193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [29]:
trimmed = joined.reset_index()[['movieId', 'userId', 'rating']]
trimmed

        movieId  userId  rating
0             1     1.0     4.0
1             1     5.0     4.0
2             1     7.0     4.5
3             1    15.0     2.5
4             1    17.0     4.5
...         ...     ...     ...
100831   193581   184.0     4.0
100832   193583   184.0     3.5
100833   193585   184.0     3.5
100834   193587   184.0     3.5
100835   193609   331.0     4.0

[100836 rows x 3 columns]

In [30]:
users_set = trimmed['userId'].unique()
users_set.sort()

movie_set = trimmed['movieId'].unique()
movie_set.sort()

user_frame = pd.DataFrame(index = users_set, columns = movie_set)
user_frame = user_frame.fillna(0)

counter = 0
ten_precent = int(trimmed.shape[0] / 10)
for row in trimmed.iterrows():
    counter += 1
    if counter % ten_precent == 0:
        print(counter // ten_precent * 10, '% of the way done')
    row = row[1]
    _userId = row['userId']
    _movieId = row['movieId']
    user_frame.loc[_userId][_movieId] = row['rating']

10 % of the way done
20 % of the way done
30 % of the way done
40 % of the way done
50 % of the way done
60 % of the way done
70 % of the way done
80 % of the way done
90 % of the way done
100 % of the way done

In [31]:
user_frame.head()

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1.0,4,0,4,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.0,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
sims

[(239.0, 0.43167439571758726),
 (580.0, 0.42945345530448664),
 (480.0, 0.38803478357059323),
 (219.0, 0.38404602493858264),
 (434.0, 0.3810636267533063),
 (414.0, 0.3785949743758926),
 (305.0, 0.36575478946461404),
 (590.0, 0.35649334459700144),
 (608.0, 0.3420108458684847),
 (166.0, 0.3402041707585982),
 (254.0, 0.33862565782016046),
 (274.0, 0.3358017896097892),
 (561.0, 0.33575781905060875),
 (18.0, 0.33416287601230354),
 (232.0, 0.32917658966107183),
 (68.0, 0.3291084106813047),
 (140.0, 0.32293694990303434),
 (425.0, 0.32220676938154413),
 (599.0, 0.3160477560352997),
 (573.0, 0.3127277399624082),
 (464.0, 0.31240821489690795),
 (220.0, 0.3117208601366954),
 (282.0, 0.31121451783661386),
 (199.0, 0.3105636581772738),
 (298.0, 0.30937396187745236),
 (354.0, 0.3044227743016517),
 (380.0, 0.30359824193827367),
 (483.0, 0.3032679935129761),
 (249.0, 0.30309080191219684),
 (610.0, 0.3027892502381828),
 (432.0, 0.30261681751495073),
 (330.0, 0.3024611727131426),
 (182.0, 0.30108424800239453),
 (560.0, 0.2997667473205412),
 (570.0, 0.2977124234932229),
 (64.0, 0.29436102378909307),
 (307.0, 0.29434268191100266),
 (438.0, 0.29402557003679003),
 (332.0, 0.2927477468870145),
 (91.0, 0.29262891761496496),
 (522.0, 0.29231862810441855),
 (288.0, 0.28883787734851457),
 (339.0, 0.2879256386470909),
 (448.0, 0.28445983900641175),
 (477.0, 0.28179722066197965),
 (474.0, 0.28150527213359966),
 (356.0, 0.28066192064258055),
 (352.0, 0.2783083882418316),
 (317.0, 0.27653845709741726),
 (362.0, 0.27563298801886416),
 (279.0, 0.27558215687022025),
 (76.0, 0.275404270795196),
 (17.0, 0.27205700933735066),
 (80.0, 0.26928433573802213),
 (66.0, 0.2684221440606016),
 (62.0, 0.2682376724746786),
 (105.0, 0.26818719047132944),
 (376.0, 0.267792354878398),
 (428.0, 0.2668844672202666),
 (129.0, 0.2656915239242921),
 (200.0, 0.26554779125876915),
 (370.0, 0.2649464675083042),
 (334.0, 0.2622855687562209),
 (63.0, 0.2622689115036453),
 (381.0, 0.26212721907622494),
 (15.0, 0.2620205141995744),
 (247.0, 0.2616187648910062),
 (266.0, 0.2604209201278675),
 (391.0, 0.2597894945687043),
 (318.0, 0.25773817077816985),
 (122.0, 0.2558537535950402),
 (453.0, 0.2529968364214039),
 (226.0, 0.25215634535555015),
 (387.0, 0.2511066661187484),
 (331.0, 0.2500624787605853),
 (233.0, 0.24875506464222324),
 (131.0, 0.2481365249898352),
 (393.0, 0.2479926132504799),
 (452.0, 0.2478666603329427),
 (211.0, 0.24749778380122328),
 (45.0, 0.24720436522748634),
 (553.0, 0.24457468912102448),
 (596.0, 0.24451546944363747),
 (313.0, 0.24414521210261192),
 (368.0, 0.2440732108709532),
 (489.0, 0.24352179967886145),
 (52.0, 0.24260345923420373),
 (103.0, 0.2419227748853738),
 (469.0, 0.24187724114721354),
 (198.0, 0.23907859726889227),
 (202.0, 0.23888802414332547),
 (187.0, 0.23842958270839534),
 (22.0, 0.23751473190793357),
 (328.0, 0.23647828442291222),
 (606.0, 0.23580535997151947),
 (141.0, 0.23536487535303602),
 (520.0, 0.23446263851689464),
 (7.0, 0.23354002352570763),
 (57.0, 0.23336280642754498),
 (357.0, 0.23320585182955883),
 (400.0, 0.23218701292321436),
 (135.0, 0.2320836661121805),
 (95.0, 0.23071358089630384),
 (419.0, 0.23050129137669395),
 (292.0, 0.22984208136506987),
 (160.0, 0.22872957969262875),
 (372.0, 0.22851560915936558),
 (326.0, 0.22643953429610864),
 (445.0, 0.22568924822096434),
 (132.0, 0.22511269447373716),
 (139.0, 0.2249028197454626),
 (195.0, 0.22445029693410548),
 (312.0, 0.22204868772083963),
 (88.0, 0.2217583563430602),
 (405.0, 0.22150537513863366),
 (167.0, 0.21886167533752665),
 (222.0, 0.21842020382371843),
 (16.0, 0.2182420904233365),
 (178.0, 0.21689429920046968),
 (322.0, 0.21560911910728536),
 (460.0, 0.21388569125568385),
 (223.0, 0.21340628724389732),
 (343.0, 0.21291955151982733),
 (525.0, 0.2115271002159),
 (61.0, 0.2100584113876886),
 (528.0, 0.2096726012640937),
 (24.0, 0.2084418026082043),
 (286.0, 0.2064275690331104),
 (177.0, 0.20598897325364166),
 (42.0, 0.20554069543980666),
 (77.0, 0.20479642532797782),
 (41.0, 0.20432573980175206),
 (600.0, 0.20412430788411717),
 (552.0, 0.20405721031824806),
 (215.0, 0.20374078317077948),
 (562.0, 0.20353153862802842),
 (532.0, 0.20337198068582096),
 (1.0, 0.2014527289611391),
 (369.0, 0.2003437360639166),
 (261.0, 0.20010014928804215),
 (83.0, 0.19925764952470365),
 (69.0, 0.19908413115671464),
 (39.0, 0.19901463300674074),
 (72.0, 0.19882724819514852),
 (29.0, 0.19849914729547413),
 (417.0, 0.19823254375349855),
 (551.0, 0.1980944553111783),
 (593.0, 0.19806974397379445),
 (540.0, 0.19707589073358467),
 (227.0, 0.19699367077585722),
 (231.0, 0.19525962335689273),
 (304.0, 0.1947356932795093),
 (303.0, 0.19427966033450472),
 (494.0, 0.19271231441170855),
 (86.0, 0.19261239041338257),
 (524.0, 0.19234767482684073),
 (555.0, 0.19185235946816365),
 (230.0, 0.19129775750078165),
 (399.0, 0.1901454820498529),
 (119.0, 0.19004986485307296),
 (244.0, 0.19004322228625153),
 (246.0, 0.1897336734914966),
 (466.0, 0.18945592352542734),
 (415.0, 0.18939341389764813),
 (204.0, 0.18856810466481388),
 (542.0, 0.1879094640387563),
 (96.0, 0.18783863150612412),
 (112.0, 0.1876270464028629),
 (23.0, 0.1874891021967349),
 (603.0, 0.1873517395470925),
 (475.0, 0.1866474810332142),
 (275.0, 0.18642259731831712),
 (212.0, 0.18631451181146885),
 (385.0, 0.18601888692506416),
 (301.0, 0.18451980824212197),
 (263.0, 0.1830797570458075),
 (420.0, 0.18249054864011804),
 (336.0, 0.1824007671271252),
 (137.0, 0.18186752598294395),
 (203.0, 0.1816567325180789),
 (221.0, 0.1815158977560022),
 (75.0, 0.181248790054229),
 (124.0, 0.1812043269868316),
 (495.0, 0.18087916203677643),
 (33.0, 0.1800816189727269),
 (534.0, 0.17853340753976776),
 (601.0, 0.1777878209617107),
 (115.0, 0.17773826880831325),
 (21.0, 0.17652278051831663),
 (344.0, 0.17574902708522708),
 (607.0, 0.17536112755479424),
 (265.0, 0.17414026446224118),
 (493.0, 0.1733371946245504),
 (597.0, 0.17331687192756215),
 (366.0, 0.172277464426556),
 (407.0, 0.1717573524027326),
 (197.0, 0.1706864651535691),
 (487.0, 0.1703819415003039),
 (413.0, 0.1702999966983301),
 (424.0, 0.16994397426129476),
 (144.0, 0.16950520846663075),
 (577.0, 0.1691651785689422),
 (217.0, 0.1690186741750988),
 (586.0, 0.16898617945251454),
 (133.0, 0.16873787036176752),
 (435.0, 0.1687119698142382),
 (443.0, 0.16802183739990537),
 (465.0, 0.16752040914237057),
 (514.0, 0.16749324384545713),
 (378.0, 0.16691945254630247),
 (602.0, 0.16622452555257128),
 (462.0, 0.16589121571248702),
 (74.0, 0.16478145436639796),
 (325.0, 0.16430728154474947),
 (267.0, 0.16421442144942952),
 (164.0, 0.16396242532121194),
 (237.0, 0.16339125744456806),
 (149.0, 0.1630726308093854),
 (585.0, 0.16296032501903435),
 (351.0, 0.16205320086233094),
 (19.0, 0.16127903798372845),
 (382.0, 0.16101718543591897),
 (209.0, 0.16076673539942266),
 (183.0, 0.1589310822599036),
 (152.0, 0.15838647343734447),
 (348.0, 0.15802220710118633),
 (196.0, 0.15755592626510423),
 (82.0, 0.15737143521729002),
 (509.0, 0.15729879463941493),
 (297.0, 0.15729796170307903),
 (256.0, 0.1568775318580749),
 (549.0, 0.15616487636257206),
 (30.0, 0.15570543083147081),
 (189.0, 0.1551047319036089),
 (437.0, 0.15473637715298216),
 (361.0, 0.15457119748814724),
 (439.0, 0.15453788271728439),
 (186.0, 0.15451681127896244),
 (156.0, 0.15440328910135842),
 (208.0, 0.1543936548405275),
 (486.0, 0.15421228843040785),
 (268.0, 0.15335133623312835),
 (79.0, 0.15291852815040402),
 (581.0, 0.15279505130038554),
 (67.0, 0.15256254435409272),
 (210.0, 0.1522995646984659),
 (294.0, 0.15121093425413912),
 (588.0, 0.15104031298476206),
 (365.0, 0.1505248433890696),
 (287.0, 0.14983149248567454),
 (418.0, 0.14967476025908732),
 (408.0, 0.1490959201123777),
 (295.0, 0.1490809040021719),
 (463.0, 0.14859521605527384),
 (125.0, 0.14859345794682893),
 (441.0, 0.1483167939817437),
 (449.0, 0.147423264193391),
 (430.0, 0.14703528356205375),
 (121.0, 0.14599406110348673),
 (169.0, 0.14534745557357265),
 (314.0, 0.1451524166216669),
 (251.0, 0.145083013663304),
 (512.0, 0.14477132968052728),
 (193.0, 0.14430828143924973),
 (302.0, 0.14291692232207276),
 (65.0, 0.1425913011084255),
 (109.0, 0.14176624993527576),
 (482.0, 0.14172034900502006),
 (110.0, 0.14164212784780267),
 (34.0, 0.14155050081646112),
 (260.0, 0.14059691895557097),
 (117.0, 0.14008557577360814),
 (566.0, 0.1396427767739168),
 (58.0, 0.13933671721075958),
 (503.0, 0.13874131010177415),
 (290.0, 0.13866438542384002),
 (123.0, 0.13766334173855097),
 (190.0, 0.13753141530837676),
 (171.0, 0.13728575855005848),
 (201.0, 0.13690612128958504),
 (73.0, 0.13689616383424097),
 (118.0, 0.13681274814532984),
 (338.0, 0.1367637050089956),
 (591.0, 0.1367010431798787),
 (541.0, 0.13639013071879708),
 (572.0, 0.13616340619089595),
 (4.0, 0.13611682313884332),
 (51.0, 0.13573362565159722),
 (59.0, 0.1352848117235324),
 (84.0, 0.1352422288243439),
 (423.0, 0.13485586343772688),
 (340.0, 0.13466177177507088),
 (446.0, 0.13458962124835688),
 (386.0, 0.13400314981478872),
 (78.0, 0.13305560127896032),
 (264.0, 0.13258456606655877),
 (271.0, 0.1323938991713027),
 (55.0, 0.13203480207418078),
 (228.0, 0.1315094692147054),
 (308.0, 0.1312176075631242),
 (272.0, 0.1305234492135665),
 (559.0, 0.12978809241202283),
 (373.0, 0.1294487182285053),
 (142.0, 0.12922647400787868),
 (11.0, 0.12911160893967985),
 (513.0, 0.1290236340275616),
 (335.0, 0.1287572540070606),
 (412.0, 0.12864775625076005),
 (81.0, 0.12813799868115078),
 (379.0, 0.12801645577941712),
 (165.0, 0.12769348412022088),
 (229.0, 0.1269924567728033),
 (102.0, 0.12621712444537542),
 (48.0, 0.12618506068085547),
 (235.0, 0.1261270282317828),
 (517.0, 0.12579007131763267),
 (50.0, 0.12537564924298872),
 (346.0, 0.12468263809957886),
 (32.0, 0.12466415985009198),
 (300.0, 0.12454184927272129),
 (427.0, 0.12442396863518876),
 (515.0, 0.12422389166686515),
 (359.0, 0.12376585288360216),
 (488.0, 0.12376086595267086),
 (5.0, 0.12347198653322068),
 (116.0, 0.12345230671461763),
 (54.0, 0.12318642673446341),
 (411.0, 0.12296687299157988),
 (433.0, 0.12281716838931446),
 (323.0, 0.12278435896165522),
 (47.0, 0.12215863144196398),
 (258.0, 0.12203023057414605),
 (93.0, 0.12202736108476078),
 (180.0, 0.12187391076226754),
 (296.0, 0.12178999857869735),
 (457.0, 0.12165796108665085),
 (168.0, 0.12135093651489427),
 (565.0, 0.12130139540790419),
 (470.0, 0.12121641071845603),
 (490.0, 0.12121271737286445),
 (94.0, 0.12112812651508054),
 (548.0, 0.12065471197102208),
 (390.0, 0.11995686889630773),
 (504.0, 0.119768848934188),
 (179.0, 0.11953083681149698),
 (242.0, 0.11931954362384894),
 (510.0, 0.1192687766932774),
 (404.0, 0.11916617758981643),
 (309.0, 0.11913611659150745),
 (174.0, 0.11902144771908876),
 (444.0, 0.11869988807872965),
 (403.0, 0.11858634548009026),
 (363.0, 0.11846157212587975),
 (592.0, 0.11707817096099439),
 (241.0, 0.11638947911531436),
 (49.0, 0.11636946393970583),
 (374.0, 0.11600376166968684),
 (176.0, 0.11595319376246813),
 (25.0, 0.11571239922777964),
 (497.0, 0.11514026590423142),
 (27.0, 0.11490471971038643),
 (426.0, 0.11467676052706055),
 (455.0, 0.11421056887664315),
 (97.0, 0.11414589828000077),
 (70.0, 0.11397443763814305),
 (172.0, 0.11395217614506828),
 (416.0, 0.11385336742209057),
 (280.0, 0.11383794814958634),
 (153.0, 0.11247572872178166),
 (447.0, 0.11109016015678161),
 (440.0, 0.11099299091513293),
 (375.0, 0.11083099312080794),
 (484.0, 0.11016266457466449),
 (519.0, 0.11014866353039057),
 (526.0, 0.10972289711603495),
 (507.0, 0.10869116528420422),
 (213.0, 0.10843590198606272),
 (409.0, 0.10801602861860073),
 (589.0, 0.10793386839630825),
 (384.0, 0.10779606749871057),
 (234.0, 0.10765934066699948),
 (523.0, 0.10646741234576913),
 (349.0, 0.1062556248568454),
 (14.0, 0.10564788472594858),
 (38.0, 0.10562466448393948),
 (126.0, 0.10558634345858056),
 (543.0, 0.10524679895685807),
 (8.0, 0.10506927892136356),
 (162.0, 0.10461514447090536),
 (319.0, 0.10352633295619063),
 (472.0, 0.10329657202176878),
 (498.0, 0.10312038180223485),
 (159.0, 0.10297850549317455),
 (353.0, 0.10276690738004188),
 (284.0, 0.1020449225035836),
 (316.0, 0.1008916406415565),
 (6.0, 0.10021694452967067),
 (567.0, 0.10017435659634927),
 (594.0, 0.09999841084666063),
 (605.0, 0.09995970789321962),
 (557.0, 0.09946747198946337),
 (10.0, 0.09878204400105667),
 (454.0, 0.09874540706258866),
 (71.0, 0.09836706347994377),
 (134.0, 0.09825118913149658),
 (111.0, 0.09777494297645357),
 (56.0, 0.09773662731995506),
 (584.0, 0.09709505637832594),
 (101.0, 0.09603361682986938),
 (511.0, 0.09597643693981649),
 (155.0, 0.09593119462063218),
 (458.0, 0.09592682240497886),
 (299.0, 0.09507229444787205),
 (394.0, 0.09437327436743806),
 (104.0, 0.0941917589539925),
 (485.0, 0.09402136715385437),
 (283.0, 0.09379265444694429),
 (371.0, 0.09289363888837641),
 (337.0, 0.0928207289301745),
 (248.0, 0.09243113850886012),
 (37.0, 0.09204452631860788),
 (100.0, 0.09153599891516331),
 (240.0, 0.09129966972328266),
 (422.0, 0.09085556124246558),
 (609.0, 0.09046174876601937),
 (582.0, 0.09033218318824457),
 (367.0, 0.09009171879434429),
 (476.0, 0.08968412070053136),
 (106.0, 0.08944511410853857),
 (13.0, 0.08922180697692107),
 (402.0, 0.08911962712165908),
 (181.0, 0.08824660611142252),
 (531.0, 0.08767285123388477),
 (471.0, 0.0875781767485491),
 (587.0, 0.08746288740330493),
 (120.0, 0.08691217334348499),
 (128.0, 0.0863271913299852),
 (450.0, 0.08582658586039367),
 (459.0, 0.08548818505700728),
 (46.0, 0.08540396883103842),
 (20.0, 0.08524404979762132),
 (554.0, 0.08486077607597894),
 (108.0, 0.08484237747306556),
 (537.0, 0.0846627555750748),
 (478.0, 0.08450957321196642),
 (527.0, 0.08448678873890919),
 (192.0, 0.08432784161092868),
 (530.0, 0.08410460824445895),
 (273.0, 0.08403476756214914),
 (468.0, 0.08399182850652535),
 (136.0, 0.08397295433510814),
 (130.0, 0.08380656199081668),
 (170.0, 0.08297122075404784),
 (569.0, 0.08251318029417828),
 (516.0, 0.08219931004933209),
 (461.0, 0.0818139320184242),
 (327.0, 0.081589696033881),
 (347.0, 0.08111094137220373),
 (536.0, 0.0804574082779456),
 (392.0, 0.07985404075823899),
 (579.0, 0.0792911180301192),
 (26.0, 0.07922415685662469),
 (574.0, 0.07921567546160513),
 (377.0, 0.07915072015288385),
 (216.0, 0.07906343667556111),
 (173.0, 0.0785908112095213),
 (191.0, 0.07849725331159305),
 (364.0, 0.07816658540473473),
 (107.0, 0.07760015477096874),
 (145.0, 0.07704509300224421),
 (98.0, 0.07490051418921113),
 (479.0, 0.07472988546496094),
 (396.0, 0.07439652914230854),
 (236.0, 0.0742248472696502),
 (321.0, 0.07417526948894125),
 (31.0, 0.07407772562705513),
 (243.0, 0.07400503946811465),
 (310.0, 0.0737889822480973),
 (533.0, 0.07278277617983922),
 (40.0, 0.07270272378012287),
 (114.0, 0.07233777488143876),
 (451.0, 0.07212206109551414),
 (238.0, 0.07189143428329003),
 (9.0, 0.07113194122935212),
 (218.0, 0.07098864925127714),
 (604.0, 0.0708872539528872),
 (535.0, 0.07001798009996332),
 (276.0, 0.06988492991919787),
 (436.0, 0.06985592680434852),
 (550.0, 0.06966101543920286),
 (43.0, 0.06950831098243586),
 (99.0, 0.06942652261707759),
 (473.0, 0.0688895750103658),
 (398.0, 0.06878961910308974),
 (281.0, 0.06845086478106902),
 (355.0, 0.06786929809033887),
 (389.0, 0.06766579243198145),
 (500.0, 0.06738342027831437),
 (259.0, 0.06732612997293874),
 (35.0, 0.06685238091226224),
 (544.0, 0.06680079576529677),
 (262.0, 0.06643365770847587),
 (496.0, 0.06624498554835706),
 (395.0, 0.06605011998465994),
 (150.0, 0.0659563076687406),
 (350.0, 0.06557334189044567),
 (529.0, 0.06516864381531694),
 (320.0, 0.06406899934057539),
 (60.0, 0.06405167730837177),
 (421.0, 0.06375989345204185),
 (205.0, 0.06311060358524309),
 (157.0, 0.061707643073874344),
 (36.0, 0.0607999001377818),
 (401.0, 0.06077823490102305),
 (431.0, 0.060770706194163936),
 (148.0, 0.06053525641232223),
 (185.0, 0.0604851956091868),
 (546.0, 0.06038219016537576),
 (501.0, 0.059181085373623064),
 (207.0, 0.059084476775513706),
 (568.0, 0.05888920626189953),
 (383.0, 0.0587233798901654),
 (505.0, 0.058704462024034565),
 (277.0, 0.05828678348952639),
 (270.0, 0.05821128942797496),
 (2.0, 0.05647077580159108),
 (492.0, 0.05635922031008222),
 (291.0, 0.05596622351745603),
 (44.0, 0.055758605827583976),
 (225.0, 0.055024939961431554),
 (53.0, 0.0547874239191127),
 (278.0, 0.05445207802400046),
 (410.0, 0.05409454110705136),
 (269.0, 0.05398039200978629),
 (113.0, 0.053849413026356686),
 (311.0, 0.053385585814395224),
 (558.0, 0.05204339913304283),
 (345.0, 0.0520306432246016),
 (518.0, 0.05159148386690361),
 (324.0, 0.05138320243668392),
 (206.0, 0.050336728744141745),
 (506.0, 0.04994453926249513),
 (598.0, 0.04944394212269462),
 (329.0, 0.049125146226654766),
 (360.0, 0.0486049271334401),
 (224.0, 0.04776485394975283),
 (502.0, 0.04730231318715541),
 (285.0, 0.04725343063796852),
 (575.0, 0.046864316196079156),
 (146.0, 0.04614155023595957),
 (595.0, 0.045955368122769576),
 (508.0, 0.045303623897557294),
 (556.0, 0.04476237702622049),
 (250.0, 0.044733744307793435),
 (539.0, 0.044328202099135565),
 (289.0, 0.043927664873413576),
 (547.0, 0.04367967151621217),
 (342.0, 0.04290268169211321),
 (481.0, 0.042586964938307645),
 (499.0, 0.042359072834882085),
 (467.0, 0.041675552610270214),
 (90.0, 0.04154527834533217),
 (341.0, 0.04134204860610777),
 (521.0, 0.041241559232116115),
 (127.0, 0.039948397548186895),
 (257.0, 0.038892848908544816),
 (429.0, 0.038629202819740596),
 (442.0, 0.03821758383476135),
 (154.0, 0.038108555904070134),
 (255.0, 0.038097354418121815),
 (253.0, 0.03777167720260694),
 (583.0, 0.03703823394366354),
 (315.0, 0.036984400664579246),
 (333.0, 0.03662526288719513),
 (564.0, 0.03648213899901416),
 (163.0, 0.03620085385414472),
 (85.0, 0.03512513667300153),
 (161.0, 0.035008456453626685),
 (143.0, 0.03494179093463896),
 (293.0, 0.034729806424451254),
 (456.0, 0.033200685365359854),
 (214.0, 0.03284904791653112),
 (397.0, 0.03249612001713099),
 (184.0, 0.03220239534232165),
 (571.0, 0.03170805755641349),
 (545.0, 0.0289959054386299),
 (158.0, 0.02741597640076776),
 (151.0, 0.02674948790715059),
 (188.0, 0.026583987674398256),
 (306.0, 0.02589302351790896),
 (3.0, 0.02554476811783649),
 (358.0, 0.02343966593563159),
 (138.0, 0.023222101389646525),
 (563.0, 0.022910339626181712),
 (147.0, 0.022758949323408183),
 (89.0, 0.022216769702294914),
 (87.0, 0.022066351235861897),
 (194.0, 0.0211392376529772),
 (245.0, 0.02094124524005722),
 (12.0, 0.015298353071578416),
 (491.0, 0.013293072638177863),
 (92.0, 0.0122391924342389),
 (538.0, 0.012053594875475339),
 (576.0, 0.012050209373788406),
 (252.0, 0.009216791711876084),
 (388.0, 0.005786842876721825),
 (406.0, 0.0028510464548193804),
 (175.0, 0.0),
 (578.0, 0.0)]

In [39]:
user_num = 6
new_user = user_frame.loc[user_num]
new_frame = user_frame.copy().drop(user_num)

sims = []
for row in new_frame.iterrows():
    userId = row[0]
    row = row[1]
    sims.append((userId, cosine_similarity([row], [new_user])[0][0]))
    
sims.sort(key = lambda x: x[1], reverse = True)



def get_top_5(user_frame, user_info, userId_other, movies):
    user_info_other = user_frame.iloc[userId_other]

    m = (user_info_other * user_info)
    top_five = m[m > 0].sort_values(ascending = False)[0: 5]

    for movie_id in top_five.index:
        top_five.loc[movie_id] = movies.set_index('movieId').loc[movie_id]['title']
    return top_five

top_five = []
index = 0
while len(top_five) < 5:
    closest_user = int(sims[index][0])
    new_movies = list(get_top_5(new_frame, new_user, closest_user, movies))
    for movie in new_movies:
        if movie not in top_five:
            top_five.append(movie)
    index += 1
top_five = top_five[:5]

In [40]:
top_five

['Lion King, The (1994)',
 'Forrest Gump (1994)',
 'Shawshank Redemption, The (1994)',
 'Cliffhanger (1993)',
 'Specialist, The (1994)']

In [35]:
#old code
'''
users_set = trimmed['userId'].unique()
users_set.sort()
user_frame = pd.DataFrame(users_set, columns = ['userId'])
user_frame = user_frame.set_index('userId')

movies_set = trimmed['movieId'].unique()
movies_set.sort()
movie_vector_blank = pd.DataFrame([np.zeros(len(movies_set))], columns = movies_set)

user_frame['movie_vect'] = [movie_vector_blank.copy() for i in range(user_frame.shape[0])]

counter = 0
ten_precent = int(trimmed.shape[0] / 10)
for row in trimmed.iterrows():
    counter += 1
    if counter % ten_precent == 0:
        print(counter // ten_precent * 10, '% of the way done')
    row = row[1]
    _userId = row['userId']
    _movieId = row['movieId']
    user_frame.loc[_userId]['movie_vect'][_movieId] = row['rating']
'''

"\nusers_set = trimmed['userId'].unique()\nusers_set.sort()\nuser_frame = pd.DataFrame(users_set, columns = ['userId'])\nuser_frame = user_frame.set_index('userId')\n\nmovies_set = trimmed['movieId'].unique()\nmovies_set.sort()\nmovie_vector_blank = pd.DataFrame([np.zeros(len(movies_set))], columns = movies_set)\n\nuser_frame['movie_vect'] = [movie_vector_blank.copy() for i in range(user_frame.shape[0])]\n\ncounter = 0\nten_precent = int(trimmed.shape[0] / 10)\nfor row in trimmed.iterrows():\n    counter += 1\n    if counter % ten_precent == 0:\n        print(counter // ten_precent * 10, '% of the way done')\n    row = row[1]\n    _userId = row['userId']\n    _movieId = row['movieId']\n    user_frame.loc[_userId]['movie_vect'][_movieId] = row['rating']\n"

In [36]:
#old code
'''
user_num = 1
new_user = user_frame.loc[user_num]['movie_vect']
new_frame = user_frame.copy().drop(user_num)

sims = []
for row in new_frame.iterrows():
    userId = row[0]
    row = row[1]
    sims.append((userId, cosine_similarity(row['movie_vect'], new_user)[0][0]))
    
sims.sort(key = lambda x: x[1], reverse = True)
closest_user = int(sims[0][0])
closest_user = new_frame.iloc[closest_user]['movie_vect']

m = (closest_user * new_user).T
top_five = m[m[0] > 0].sort_values(by = 0, ascending = False)[0: 5]

for movie_id in top_five.index:
    top_five.loc[movie_id] = movies.set_index('movieId').loc[movie_id]['title']
'''
top_five

['Pulp Fiction (1994)',
 'Godfather, The (1972)',
 'Godfather: Part II, The (1974)',
 'Matrix, The (1999)',
 'Once (2006)']